<$ include partials/header $>

<div class='header'>
  <h4 class='page-header__label'>Personality Insights and Watson Friends Present</h4>
  <h1 class='page-header__title'>Watson Team Compare</h1>
</div>
<div class='parent-row'>
  <div class='left'>
    <div class='table-head'>
      <h2>Team</h2>
      <button class="bx--btn bx--btn--primary"  type="button">
        Add Member
        <svg class="bx--btn__icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 7H4v2h3v3h2V9h3V7H9V4H7v3zm1 9A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" fill-rule="evenodd" />
        </svg>
      </button>
    </div>
    <section class="bx--structured-list bx--structured-list--border bx--structured-list--selection" data-structured-list>
      <div class="bx--structured-list-thead">
        <div class="bx--structured-list-row bx--structured-list-row--header-row">
          <div class="bx--structured-list-th"></div>
          <div class="bx--structured-list-th"></div>
        </div>
      </div>
        <div class="bx--structured-list-tbody" id="team-table-body">
                    
        </div>
    </section>
  </div>    
  <div class='right'>
      <div class='table-head'>
        <h2>Candidates</h2>
        <button class="bx--btn bx--btn--primary"  type="button">
            Add Member
            <svg class="bx--btn__icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 7H4v2h3v3h2V9h3V7H9V4H7v3zm1 9A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" fill-rule="evenodd" />
            </svg>
          </button>
      </div>
      <section class="bx--structured-list bx--structured-list--border bx--structured-list--selection" data-structured-list>
          <div class="bx--structured-list-thead">
              <div class="bx--structured-list-row bx--structured-list-row--header-row">
                  <div class="bx--structured-list-th"></div>
                  <div class="bx--structured-list-th"></div>
              </div>
          </div>
          <div class="bx--structured-list-tbody"  id="candidate-table-body">
                                 
          </div>
      </section>
    </div>
    <div class="loading">
        <div class="loading--icon">
            <img src="images/loading-indicator.gif" width="100%" alt="">
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-url-parser/2.3.1/purl.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/5.0.2/markdown-it.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>

<script type="text/javascript" src="js/vendors/q.js"></script>
<script type="text/javascript" src="js/components/q_util.js"></script>
<script type="text/javascript" src="js/components/tab-panels.js"></script>

<script type="text/javascript" src="vendor/personality-text-summary/dist/index.js"></script>
<script type="text/javascript" src="vendor/personality-trait-info/dist/index.js"></script>
<script type="text/javascript" src="vendor/personality-trait-descriptions/dist/index.js"></script>
<script type="text/javascript" src="vendor/personality-trait-names/dist/index.js"></script>
<script type="text/javascript" src="vendor/personality-consumption-preferences/dist/index.js"></script>
<script type="text/javascript" src="js/sunburst.js"></script>

<script type="text/javascript" src="js/demo.js"></script>
<script type="text/javascript" src="js/consumption-preferences-likely-sort.js"></script>
<script type="text/javascript" src="js/consumption-preferences-unlikely-sort.js"></script>


<script type="text/javascript">

    var TWITTER_USER = <$- JSON.stringify(twitterUser) $>;
    var GENERIC_REQUEST_ERROR = '<$= __('error-request') $>';
    var OUTPUT_LANG = '<$= locale $>';
</script>
